:root {
    --inlineDistance: 25%;
}
body {
  background-color: #FFDAB9;
}
#upBar{
  background-color: black;
  border: 5px double #FFFFFF;
  padding: 10px;
  color: white;
  
}
#upBar ul, li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: sans-serif;
}
#upBar ul li {
    margin: -50px var(--inlineDistance) -50px var(--inlineDistance);
}
#banner {
    border: 5px dotted gray;
    border-radius: 10px;
}
#divMain {
    margin-top: 2.5%;
    width: 75%;
    margin-left: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gray;
    border: 5px solid black;

}
#divMain ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
#divMain button {
    width: 150%;
}